#aboutphoto {
	margin-right: 5%;
	margin-bottom: 3%;
}
#aboutbox {
	border: solid;
	border-width: 1px;
	border-color: #cccccc;
	background-color: #fff;
}

#portfoliobox {
	border: solid;
	border-width: 1px;
	border-color: #cccccc;
	background-color: #fff;
	max-height: auto;
	max-width: auto;
}
#connectbox {
	border: solid;
	border-color: #cccccc;
	border-width: 1px;
	background: #fff;
	color: white;
}
#about {
	border-bottom: solid;
	border-color: #cccccc;
	border-width: 1px;
	font-family: 'Georgia', Times, Times New Roman, serif;
}
#connectwme {
	border-bottom: solid;
	border-color: #cccccc;
	border-width: 1px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	text-align: center;
}
.navbar-brand {
	background-color: #4aaaa5;
	/*display: inline-block;*/

}
.nav .navbar-nav .navbar-right {
  margin-right: 5%;
}

#upname {
  margin-left: 2vw;
}
#topname {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: white;
}

.conpic {
/*position:relative;
display: inline-block;*/
padding: 5px;
}

h1 {
	color: #4aaaa5;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 34px;
  color: #777;
  background: url("../images/concrete_seamless.png");
}

.work {
  position: relative;
  /*float: left;*/
  display: inline-block;
  width: 38%;
  margin: 2% 5%;
  overflow: auto;
}

.work:nth-child(even) {
  margin-right: 40px;
}

.work img {
  width: 100%;
  border: 0 none;
  opacity: 0.8;
  max-width: 100%;
  height: auto;
}

.work h3 {
  position: absolute;
  bottom: 20px;
  width: 100%;
  padding: 15px;
  margin-bottom: 0;
  font-weight: 300;
  font-size: 2vw;
  line-height: 2vw;
  color: #fff;
  text-align: center;
  background: #4aaaa5;
  border-bottom: 0;
}

.auth-image {
  float: left;
  width: 200px;
  height: auto;
  margin-top: 10px;
  margin-right: 25px;
}
.form-area {
  border: solid;
  border-color: #cccccc;
  border-width: 1px;
  background: #fff;
  padding: 3vw;
  padding-bottom: 5vw;
}



/*Teal color (used for headings and backgrounds): #4aaaa5
Regular font color (used for paragraphs and all text besides the headings): #777777
Main header background color: #ffffff
Main header border color: #cccccc
Footer background color: #666666
Main content background color: #ffffff
Main content border color: #dddddd
Fonts:
For heading fonts use font-family: 'Georgia', Times, Times New Roman, serif;.
For all other fonts use 'Arial', 'Helvetica Neue', Helvetica, sans-serif;.
*/